*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
    section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    background-image: url("../img/download\ \(4\).jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    width: 200px;
    height: 200px;
    border-radius:0px 12px 0px 12px ;
    text-align: center;
img{
    width: 50%;
    height: 50%;
    border-radius: 12px;
    
}

}
.first{
    background-color: black;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 5px;
}
.second{
    background-color: aqua;
    font-family: "Roboto", sans-serif;
    word-spacing: 12px;
}